 #EntityFormView {
  max-width: 500px;
  margin: 40px auto;
  background-color: #111;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
}

#EntityFormView .form-control-cell {
  padding: 10px 0;
}

#EntityFormView label {
  font-weight: bold;
  color: #fff;
  display: block;
  margin-bottom: 8px;
}

#EntityFormView input[type="text"],
#EntityFormView select {
  width: 100%;
  padding: 10px;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
}

#EntityFormView .datetimepicker input {
  color: #fff;
}

#EntityFormView .btn.btn-primary {
  display: block;
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  background-color: #ffca28;
  color: #000;
  border: none;
}

#available-place-row img {
  margin-top: 10px;
  border-radius: 12px;
  max-width: 100%;
}
.crmEntityFormView .actions {
    border-top: 0px !important; 
}

#WebFormPanel > div.actions > div > div {
  display: block;
  margin-left: auto;
    margin-right: auto;
  /* margin: 30px auto 0 auto !important;
  padding: 12px 24px; */
  /* background-color: #ffca28;
  border: none;
  border-radius: 8px;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer; */
}
